body,html {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

header {
	display: block;
	width: 100%;
}

.section {
	width: 100%;
}

#logo {
	padding-top: 50px;
	padding-left: 50px;
	text-align: left;
}

.sub-text {
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	text-transform: uppercase;
	margin: 0px 0px 0px 0px;
	color: #CDCFD4;
	letter-spacing: 2;
}

.title {
	font-family: 'Arapey', serif;
	font-size: 32px;
	margin: 0px 0px 0px 0px;
	color: #4C5151;
}

.intro {
	height: 100%;
	position: relative;
}

.text {
	top: 50%;
	position: absolute;
	transform: translateY(-50%);
}

.intro div {
	line-height: 1.4;
	text-align: left;
    margin-left: 100px;
    vertical-align: middle;
}

footer {
	width: 100%;
	display: block;
	position: absolute;
	bottom: 50px;
}

svg.social-icons {
	fill: #4C5151;
	width: 15px;
	height: auto;
}

#email {
	display: inline-block;
	margin-left: 50px;
	color: #4C5151;
}

.email-text {
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	letter-spacing: 0.5;
}

#social {
	display: inline-block;
	text-align: right;
	float: right;
	margin-right: 50px;
}

ul {
	list-style: none;
}

#social ul li {
	padding-right: 10px;
	display: inline-block;
	font-family: 'Roboto Slab', serif;
	font-size: 12px ;
}